html
  head
    title='Hello FRP'
    link(rel='stylesheet', href='index.css', type='text/css')
  body
    .cells
      .cell.cell--a.cell--add(contenteditable='true')='1'
      .cell.cell--b.cell--add(contenteditable='true')='2'
      .cell.cell--c.cell--mult(contenteditable='true')='2'
      .cell.cell--x
      //img.cell.cell--img
    script(src='cell.js')
