html
  head
    title='Hello FRP'
    link(rel='stylesheet', href='index.css', type='text/css')
  body
    .cells
      .cell.cell--a(contenteditable='true')='1'
      .cell.cell--b(contenteditable='true')='2'
      .cell.cell--c
      //img.cell.cell--img
    script(src='cell.js')
